{% extends 'app/base.html' %}
{% load static %}
{% block title %} Bottomwear{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">

    <div class="col-sm-3">
      <div class="list-group">

        {% comment %} The aria-current attribute is an accessibility feature used to help people with disabilities, especially those using screen readers, understand the current state of a link. {% endcomment %}

        <a href="{% url 'bottomwear' %}"
          class="list-group-item list-group-item-action {% if request.path == '/bottomwear/' %} bg-primary text-white fw-bold {% endif %}"
          >All bottomwear</a>

        <a href="{% url 'bottomweardata' 'Spykar'  %}"
          class="list-group-item list-group-item-action  {% if request.path == '/bottomwear/Spykar' %} bg-primary text-white fw-bold {% endif %}"
          >Spykar</a>

        <a href="{% url 'bottomweardata' 'Lee'  %}"
          class="list-group-item list-group-item-action {% if request.path == '/bottomwear/Lee' %} bg-primary text-white fw-bold {% endif %}">Lee</a>

        <a href="{% url 'bottomweardata' 'below'  %}"
          class="list-group-item list-group-item-action {% if request.path == '/bottomwear/below' %} bg-primary text-white fw-bold {% endif %}">Below
          400 Rs </a>

        <a href="{% url 'bottomweardata' 'above'  %}"
          class="list-group-item list-group-item-action {% if request.path == '/bottomwear/above' %} bg-primary text-white fw-bold {% endif %}">Above
          400 Rs</a>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="row">

        {% for product in bottomwears %}
        <div class="col-md-4 mb-4">
          <div class="card border-primary custom-card" style="border-radius: 5px; border-width: 3px;">
            <a href="{% url 'product-detail' product.id %}" class="btn">
              <img src="{{product.product_image.url}}" alt="{{product.title}}" class="card-img-top" height="300">
            </a>
            <div class="card-body">
              <h5 class="card-title fw-bold">{{product.title}}</h5>
              <div class="card-text">
                <p class="fw-bold">
                  Rs. {{product.discounted_price}}
                  <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock main-content %}