{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}

<div class="text-center section-title mt-3">
    <h3 class="text-black">About Us</h3>
</div>
<hr class="container mb-3" />

<section id="about">
    <div class="container">
        <div class="row flex-lg-row flex-column-reverse mb-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h3>
                    Welcome to <span>Our Shop
                        <br class="d-none d-lg-block" />
                        Your Weekend Haven</span>
                </h3>
                <p>
                    At Our Shop, we provide a seamless online shopping experience to our
                    customers. Our website offers a user-friendly platform to explore and
                    shop for a wide range of products, from electronics to fashion and
                    more.
                </p>
                <p>
                    Our mission is to make online shopping hassle-free and enjoyable. We
                    constantly strive to provide the best products at competitive prices,
                    ensuring our customers get the best value for their money.
                </p>
            </div>

            <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                <img src="{% static 'app/images/aboutPage/1-about.png' %}" class="img-fluid myimage" alt="About Us"
                    style="border: 3px solid #007bff; border-radius: 5px" />
            </div>
        </div>

        <hr class="container" />

        <div class="row flex-lg-row flex-column-reverse mt-4 my-2">
            <div class="col-lg-6 mb-4 mb-lg-0 pe-lg-4 my-3 text-center">
                <img src="{% static 'app/images/aboutPage/2-about.png' %}" class="img-fluid myimage" alt="About Us"
                    style="border: 3px solid #007bff; border-radius: 5px" />
            </div>

            <div class="col-lg-6 text-center ps-lg-2 my-3 text-lg-start">
                <h3>
                    Discover the
                    <span>Best Products <br class="d-none d-lg-block" />
                        for Your Weekend</span>
                </h3>
                <p>
                    Our curated selection of products ensures that you find everything you
                    need for a perfect weekend. From the latest gadgets to trendy fashion,
                    we have it all. Shop with confidence, knowing that we offer only the
                    best quality products from trusted brands.
                </p>
                <p>
                    With easy navigation and secure checkout, shopping with us is a
                    breeze. Join us in your journey to create unforgettable weekends with
                    our exceptional products and services.
                </p>
            </div>
        </div>

        <hr class="container my-4" />

        <div class="row flex-lg-row flex-column-reverse mb-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h3>
                    Welcome to
                    <span>Our Shop <br class="d-none d-lg-block" />
                        Your Destination for Quality</span>
                </h3>
                <p>
                    Our commitment to quality sets us apart. We go the extra mile to
                    ensure that each product we offer meets the highest standards. Your
                    satisfaction is our top priority, and we take pride in providing
                    excellent customer service.
                </p>
                <p>
                    Whether you're shopping for yourself or finding the perfect gift for a
                    loved one, you can trust that we have your best interests at heart.
                    Join us today and experience the joy of shopping at Our Shop.
                </p>
            </div>

            <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center mt-4">
                <img src="{% static 'app/images/aboutPage/3-about.png' %}" class="img-fluid myimage" alt="About Us"
                    style="border: 3px solid #007bff; border-radius: 5px" />
            </div>
        </div>

        <hr class="container my-2" />

        <div class="row flex-lg-row flex-column-reverse mt-4 my-2">
            <div class="col-lg-6 mb-4 mb-lg-0 pe-lg-4 my-3 text-center">
                <img src="{% static 'app/images/aboutPage/4-about.png' %}" class="img-fluid myimage" alt="About Us"
                    style="border: 3px solid #007bff; border-radius: 5px" />
            </div>

            <div class="col-lg-6 text-center ps-lg-2 my-3 text-lg-start">
                <h3>
                    We Have the
                    <span>Best Deals <br class="d-none d-lg-block" />
                        for Your Weekend</span>
                </h3>
                <p>
                    Our Shop is your go-to destination for finding amazing deals on your
                    favorite products. Whether it's a seasonal sale or a limited-time
                    offer, we are always striving to bring you the best discounts and
                    offers.
                </p>
                <p>
                    Shop smart and save big with us. Check back regularly for new
                    promotions and exciting deals that will make your weekend shopping
                    even more enjoyable. Get ready for an unforgettable shopping
                    experience at Our Shop.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock main-content %}