{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}


{% block main-content %}
<div class="container">
  <div class="row mt-5">

    <div class="col-sm-8">
      <div class="card border-primary" style="border-width: 3px; border-radius: 10px;">
        <div class="card-body">
          <h4>Order Summary</h4>
          <hr />

          {% if flag == False %}

          {% for item in cart_items %}

          <div class="card mb-2">
            <div class="row">
              <div class="col-sm-4 text-center">
                <img src="{{item.product_image.url}}" alt="{{item.title}}" class="img-fluid img-thumbnail shadow-sm"
                  style="height: 150px; width: 170px; border-radius: 8px; border: 2px solid #007bff;">
              </div>
              <div class="col-sm-8">
                <div class="card-body">
                  <h5>Product: {{item.title}}</h5>
                  <p>Quantity: 1</p>
                  <p class="fw-bold">Price: {{totalcost|add:-70}}</p>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

          <p class="fw-bold">Total Cost + Rs. 70 = {{totalcost}}</p>

          {% else %}

          {% for item in cart_items %}

          <div class="card mb-2">
            <div class="row">
              <div class="col-sm-4 text-center">
                <img src="{{item.product.product_image.url}}" alt="{{item.product.title}}"
                  class="img-fluid img-thumbnail shadow-sm"
                  style="height: 150px; width: 170px; border-radius: 8px; border: 2px solid #007bff;">
              </div>
              <div class="col-sm-8">
                <div class="card-body">
                  <h5>Product: {{item.product.title}}</h5>
                  <p>Quantity: {{item.quantity}}</p>
                  <p class="fw-bold">Price: {{item.total_cost}}</p>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

          <p class="fw-bold">Total Cost + Rs. 70 = {{totalcost}}</p>

          {% endif %}




          <small>(Rs. 70 Delivery Charge)</small>
          <hr />
          <small class="fw-bold">Terms and Conditions: Shop with confidence at Shopify! We guarantee your satisfaction
            with our products and services. If you have any issues with your order, feel free to contact our support
            team for assistance.</small>
        </div>
      </div>
    </div>

    <div class="col-sm-4 ">
      <div class="card border-primary" style="border-width: 3px; border-radius: 10px;">
        <div class="card-body">
          <h4>Select Shipping Address</h4>
          <hr />

          <form action="/paymentdone" id="myform">

            {% for ad in address %}
            <div class="card">
              <div class="card-body">
                <h5>{{ad.name}}</h5>
                <p>{{ad.locality}}, {{ad.city}}, {{ad.state}}- {{ad.zipcode}}</p>
              </div>
            </div>
            <div class="form-check mt-2 mb-5">
              <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}"
                value="{{ad.id}}" checked />
              <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                Address: {{ forloop.counter }}
              </label>
            </div>
            {% endfor %}
            

            <div class="border p-3" style="border-width: 3px; border-radius: 10px;">
              <!-- Set up a container element for the button -->
              <p class="fw-bold">Payment Options:</p>
              <div id="paypal-button-container"></div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock main-content %}

{% block payment-gateway %}
<!-- Include the PayPal JavaScript SDK -->
<script
  src="https://www.paypal.com/sdk/js?client-id=AQtYrsDFUxt0amywwH1i73JsDvWf2CBc_F1aiLs-k0o9NApKL9Ir4BhG3twUxtlMphyFbUdRdr_xZ7oG&currency=USD"></script>

<script>
  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: "{{totalcost}}",
              },
            },
          ],
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          // Show a success message to the buyer
          alert(
            "Transaction completed by " + details.payer.name.given_name + "!"
          );
          document.getElementById("myform").submit();
        });
      },
    })
    .render("#paypal-button-container");
</script>

{% endblock payment-gateway %}