{% extends 'app/base.html' %}
{% load static %}

{% block title %}Product Detail{% endblock title %}

{% block main-content %}

<div class="container my-5">

  <div class="row">

    <div class="col-sm-6 text-center align-self-center">
      <div class="card border-primary"
        style="width: 45vw; height: 50vh; display: flex; align-items: center; justify-content: center;">
        <img src="{{product.product_image.url}}" alt="" class="card-img-top img-fluid"
          style="object-fit: contain; max-height: 100%; max-width: 100%; border: 2px solid #007bff;">
      </div>
    </div>

    <div class="col-sm-5 offset-sm-1">

      <h2>{{product.title}}</h2>
      <hr>
      <h4>{{product.description}}</h4>

      <h4 class="fw-bold d-inline-block">Rs. {{product.discounted_price}}</h4>
      <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
      <br>

      {% if user.is_authenticated %}

      {% if item_already_in_cart %}
      <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 mt-3">Go to Cart</a>
      {% else %}
      {% comment %} we can use both this method , both works same ... {% endcomment %}
      <!--
        <form action="/add-to-cart" class="d-inline mt-3">
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2 mt-3">Add to Cart</button>
      </form>
     -->
      <a href="/add-to-cart/?prod_id={{product.id}}" class="btn btn-primary shadow px-5 py-2 mt-3">Add to Cart</a>
      {% endif %}

      {% endif %}

      {% if not request.user.is_authenticated %}
      <form action="/add-to-cart" class="d-inline mt-3">
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2 mt-3">Add to Cart</button>
      </form>
      {% endif %}

      <!-- this is the payment page url ... -->
      <a href="/checkout/?page=Productpage-{{product.id}}" class="btn btn-danger shadow px-5 py-2 ms-3 mt-3">Buy Now</a>

      <h5 class="mt-5">Available Offers</h5>
      <ul>
        <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
        <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
        <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
        <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
      </ul>
    </div>
  </div>
</div>

{% endblock main-content %}