{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}

<div class="container my-5">
  <div class="row my-1">
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong class="ms-4">{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   
    {% endfor %}
    {% endif %}
  </div>

  <div class="row">
    

    <h3>Welcome <span class="text-capitalize">{{request.user}}</span> </h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled text-left">
        <li class="d-grid"><a href="{% url 'profile' %}"
            class="btn {% if request.path == '/profile/' %}btn-primary fw-bold {% endif %}">Profile</a></li>
        <li class="d-grid"><a href="{% url 'address' %}"
            class="btn {% if request.path == '/address/' %}btn-primary fw-bold{% endif %}">Address</a></li>
        <li class="d-grid"><a href="{% url 'showcart' %}"
            class="btn {% if request.path == '/cart/' %}btn-primary fw-bold {% endif %}">Cart Items</a></li>
        <li class="d-grid"><a href="{% url 'orders' %}"
            class="btn {% if request.path == '/orders/' %}btn-primary fw-bold{% endif %}">Your Orders</a></li>

      </ul>
    </div>

    <div class="col-sm-8 offset-sm-1">

      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p class="text-danger fw-bold er ">{{error}}</p>
      {% endfor %}
      {% endif %}

      <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group col-lg-6 mb-3">
          {{ fm.label_tag }} {{ fm }} <small class="text-danger fw-bold">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock main-content %}