/* this is custom variable... */
:root {
   /* Background Color */
   --bg-black: #1f3879;
   --bg-white: #fff;
   --bg-light-white: #fcfcfc;
   --bg-light-2: #f2f7fa;
   --bg-dark-green: #0e9d80;
   --bg-features-1: #fff6d6;
   --bg-features-2: #ebdcf9;
   --bg-features-3: #ddf5fc;
   --bg-features-4: #dcf6e8;
   --bg-features-5: #f8e4e1;
   --bg-features-6: #fbffd4;

   /* Text Color */
   --text-black: #000;
   --text-white: #fff;
   --text-dark-gray: #4c535d;
   --text-light-2: #798089;
   --text-light-3: #5e5e72;
   --text-light-4: #A0A0A0;
   --text-dark-green: #12c4a0;
   --text-orange: #ff5d2a;
   --text-yellow: #ffc100;

   /* Fonts */
   --primary-font: Quicksand;
   --secondary-font: 'Poppins', sans-serif;
   --normal-font-weight: 400;
   --bold-font-weight: 700;
}

a:focus {
   outline: none;
 }

/* custom scroll bar......... */


/* scrollbar and custom classes.. */

::-webkit-scrollbar {
   width: 0.595rem;
}

::-webkit-scrollbar-track {
   background: var(--bg-dark-green);
}

::-webkit-scrollbar-thumb {
   background: var(--text-yellow);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}



/* this is css for header section ... */
.navbar-brand {
   font-size: 30px;
   font-weight: bold;
   margin-left: -10px;
   margin-right: 20px;
}

.nav-link {
   font-size: 18px;
   font-weight: 600;
   margin-right: 15px;
   
}



/* css for cards in home page ..... */



/* this is css for modifying the carosoul ... */


/* css for each card in the products page ... */

.custom-card {
   width: 320px;
   margin-right: 2px;
}

.owl-carousel .item {
   /* border: 1px solid black; */
   font-size: 24px;
   text-align: center;
   margin-top: 20px;
   
   
}

.owl-next {
   float: right;
}

.owl-prev {
   float: left;
}

.owl-prev span {
   font-size: 24px;
   font-weight: bold;
}

.owl-next span {
   font-size: 24px;
   font-weight: bold;
}

/* here we give a minimum height to our body so that our footer is at bottom of the page .... */
.mainbody {
   padding-top: 10vh !important;
   min-height: 48vh !important;
   background-color: white!important;
}

.demo{
   display: inline-block;
}


/* this is the style for the footer part.... */


/* 11 Footer */
#footerID {
   position: relative;
   margin-bottom: 0;
   bottom: 0;
}

.footer_wrapper {
   padding-top: 100px;
   padding-bottom: 25px;
   background: url(../images/bg_footer.png) no-repeat;
   background-size: cover;
   background-color: var(--bg-black);
   color: var(--text-white);


}

.footer_wrapper .footer_logo img {
   max-width: 30%;
}

.footer_wrapper .footer_text,
.footer_wrapper .footer_text a {
   margin-top: 30px;
   color: var(--text-white);
   font-size: 15px;
   font-weight: 600;
   line-height: 1.5;
   text-decoration: none;
}

.footer_wrapper .footer_title {
   font-family: var(--secondary-font);
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 700;
   line-height: 1.5;
   color: var(--text-white);
   margin-bottom: 25px;
}

/* .footer_wrapper .footer_social_media_icon {
   padding-right: 30px;
   color: var(--text-white);
   font-size: 20px;
   
} */

.footer_wrapper .footer_social_media_icon {
   font-size: 23px;
   transition: 0.3s all ease;
   margin: 0.7125rem;
   background-color: var(--white-color);
   color: var(--white-color);
   border: 1px solid var(--white-color);
   border-color: var(--white-color);
   border-radius: 50%;
   width: 2.6875rem;
   height: 2.6875rem;
   line-height: 2.6875rem;
}

.footer_wrapper .footer_social_media_icon :hover {
   background-color: var(--bg-black);
   color: var(--text-black);
   border-color: var(--white-color);
}

/* here we use the border top property to make that white line.... */
.footer_wrapper .footer_credits {
   color: var(--text-white);
   border-top: 1px solid var(--text-white);
   padding-top: 20px;
   margin-top: 30px;
}

.footer_wrapper .footer_credits a {
   color: var(--text-yellow);
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
}